.react-multiple-carousel__arrow{
  /* background-color: red; */
  
  transition: all .5;
  border-radius: 5px !important;
  background-color: #bfbaba !important;
  min-width: 4% !important;
  min-height: 25% !important;
  margin-left: -4.50% !important;
  margin-right: -4.50% !important;
}
.react-multiple-carousel__arrow::before {
    color: black !important;
    font-size:25px !important;
    font-weight:bolder !important;
}